.AutocompletePlace-input {
  width: 20vw;
  border-radius: 32px;
  border: none;
  outline-width: 0;
  text-overflow: ellipsis;
}

.AutocompletePlace-items {
  display: flex;
  list-style: none;

  justify-content: left;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #00000011;
  cursor: pointer;
  padding: 10px 10px;
}

.spinner-border {
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.AutocompletePlace-results {
  margin-top: 6vh;
  width: 30vw !important;
  position: absolute;
  background-color: white;

  border-radius: 23px;
}
